.sd-spinner-three-bounce.sk-spinner {
  left: 57%;
  width: 70px !important;
  height: 23px !important;
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-40%);
     -moz-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
       -o-transform: translateY(-40%);
          transform: translateY(-40%);
}
.sk-spinner-three-bounce.sk-spinner {
  margin: 0 auto;
  text-align: center;
}
.sk-spinner-three-bounce div,
.sd-spinner-three-bounce div {
  height: 15px;
  width: 15px;
  background-color: #BCBEC0;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
  -moz-animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
    -o-animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
       animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
       animation-fill-mode: both;
}
.sk-spinner-three-bounce .sk-bounce1,
.sd-spinner-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
    -o-animation-delay: -0.32s;
       animation-delay: -0.32s;
}
.sk-spinner-three-bounce .sk-bounce2,
.sd-spinner-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
    -o-animation-delay: -0.16s;
       animation-delay: -0.16s;
}
@-webkit-keyframes sk-threeBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes sk-threeBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
         transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
         transform: scale(1);
  }
}
@-o-keyframes sk-threeBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
       transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
       transform: scale(1);
  }
}
@keyframes sk-threeBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
      -o-transform: scale(0);
         transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
      -o-transform: scale(1);
         transform: scale(1);
  }
}
/****** Font Sizes ******/
/****** Font Families ******/
/****** Colors ******/
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
.row {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
     -moz-box-flex: 0;
          flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*margin-right: -0.5rem;
  margin-left: -0.5rem;*/
}
.column {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
     -moz-box-flex: 0;
          flex: 0 1 auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*margin-right: -0.5rem;
  margin-left: -0.5rem;*/
}
.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
     -moz-box-flex: 0;
          flex: 0 0 auto;
  /*padding-right: 0.5rem;
  padding-left: 0.5rem;*/
}
.col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}
.col-xs-1 {
  -webkit-flex-basis: 8.333%;
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}
.col-xs-2 {
  -webkit-flex-basis: 16.667%;
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}
.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  -webkit-flex-basis: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}
.col-xs-5 {
  -webkit-flex-basis: 41.667%;
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}
.col-xs-6 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.col-xs-7 {
  -webkit-flex-basis: 58.333%;
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}
.col-xs-8 {
  -webkit-flex-basis: 66.667%;
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}
.col-xs-9 {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.col-xs-10 {
  -webkit-flex-basis: 83.333%;
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}
.col-xs-11 {
  -webkit-flex-basis: 91.667%;
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}
.col-xs-12 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.col-xs-offset-1 {
  margin-left: 8.333%;
}
.col-xs-offset-2 {
  margin-left: 16.667%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-4 {
  margin-left: 33.333%;
}
.col-xs-offset-5 {
  margin-left: 41.667%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-7 {
  margin-left: 58.333%;
}
.col-xs-offset-8 {
  margin-left: 66.667%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-10 {
  margin-left: 83.333%;
}
.col-xs-offset-11 {
  margin-left: 91.667%;
}
.start-xs {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
     -moz-box-pack: start;
          justify-content: flex-start;
  text-align: start;
}
.center-xs {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
          justify-content: center;
  text-align: center;
}
.end-xs {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
     -moz-box-pack: end;
          justify-content: flex-end;
  text-align: end;
}
.top-xs {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
     -moz-box-align: start;
          align-items: flex-start;
}
.middle-xs {
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
     -moz-box-align: center;
          align-items: center;
}
.bottom-xs {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-align: end;
     -moz-box-align: end;
          align-items: flex-end;
}
.around-xs {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.between-xs {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
          justify-content: space-between;
}
.first-xs {
  -webkit-order: -1;
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
     -moz-box-ordinal-group: 0;
          order: -1;
}
.last-xs {
  -webkit-order: 1;
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
     -moz-box-ordinal-group: 2;
          order: 1;
}
@media only screen and (min-width: 48em) {
  .container {
    width: 49rem;
  }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
       -moz-box-flex: 0;
            flex: 0 0 auto;
    /*padding-right: 0.5rem;
    padding-left: 0.5rem;*/
  }
  .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-sm-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    -webkit-flex-basis: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-sm-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-sm-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-sm-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-sm-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-sm-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-sm-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.667%;
  }
  .start-sm {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
       -moz-box-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
            justify-content: center;
    text-align: center;
  }
  .end-sm {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
       -moz-box-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
       -moz-box-align: start;
            align-items: flex-start;
  }
  .middle-sm {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
       -moz-box-align: center;
            align-items: center;
  }
  .bottom-sm {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -webkit-box-align: end;
       -moz-box-align: end;
            align-items: flex-end;
  }
  .around-sm {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-sm {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
            justify-content: space-between;
  }
  .first-sm {
    -webkit-order: -1;
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
       -moz-box-ordinal-group: 0;
            order: -1;
  }
  .last-sm {
    -webkit-order: 1;
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
       -moz-box-ordinal-group: 2;
            order: 1;
  }
}
@media only screen and (min-width: 64em) {
  .container {
    width: 65rem;
  }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
       -moz-box-flex: 0;
            flex: 0 0 auto;
    /*padding-right: 0.5rem;
    padding-left: 0.5rem;*/
  }
  .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-md-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    -webkit-flex-basis: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-md-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-md-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-md-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-md-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-md-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.333%;
  }
  .col-md-offset-2 {
    margin-left: 16.667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.333%;
  }
  .col-md-offset-5 {
    margin-left: 41.667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.333%;
  }
  .col-md-offset-8 {
    margin-left: 66.667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.333%;
  }
  .col-md-offset-11 {
    margin-left: 91.667%;
  }
  .start-md {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
       -moz-box-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
            justify-content: center;
    text-align: center;
  }
  .end-md {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
       -moz-box-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
       -moz-box-align: start;
            align-items: flex-start;
  }
  .middle-md {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
       -moz-box-align: center;
            align-items: center;
  }
  .bottom-md {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -webkit-box-align: end;
       -moz-box-align: end;
            align-items: flex-end;
  }
  .around-md {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-md {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
            justify-content: space-between;
  }
  .first-md {
    -webkit-order: -1;
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
       -moz-box-ordinal-group: 0;
            order: -1;
  }
  .last-md {
    -webkit-order: 1;
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
       -moz-box-ordinal-group: 2;
            order: 1;
  }
}
@media only screen and (min-width: 75em) {
  .container {
    width: 76rem;
  }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
       -moz-box-flex: 0;
            flex: 0 0 auto;
    /*padding-right: 0.5rem;
    padding-left: 0.5rem;*/
  }
  .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-lg-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    -webkit-flex-basis: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-lg-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-lg-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-lg-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-lg-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-lg-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-lg-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.667%;
  }
  .start-lg {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
       -moz-box-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
            justify-content: center;
    text-align: center;
  }
  .end-lg {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
       -moz-box-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
       -moz-box-align: start;
            align-items: flex-start;
  }
  .middle-lg {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
       -moz-box-align: center;
            align-items: center;
  }
  .bottom-lg {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -webkit-box-align: end;
       -moz-box-align: end;
            align-items: flex-end;
  }
  .around-lg {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-lg {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
            justify-content: space-between;
  }
  .first-lg {
    -webkit-order: -1;
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
       -moz-box-ordinal-group: 0;
            order: -1;
  }
  .last-lg {
    -webkit-order: 1;
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
       -moz-box-ordinal-group: 2;
            order: 1;
  }
}
/****** General Rules *****/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
}
html,
body,
.big-boy {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}
.big-boy {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.compiled-view {
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-color: #f2f2f2;
  padding: 90px 10px 20px 10px;
  font-family: "Gill Sans";
  position: relative;
  width: 100%;
}
.compiled-view .pages {
  display: none;
  background-color: #f8f8f8;
  position: relative;
}
.compiled-view .pages .header {
  margin-bottom: 20px;
}
.compiled-view .pages .add-info-inner {
  position: relative;
  display: inline-block;
  text-align: left;
  margin-bottom: 60px;
  width: 70%;
}
.compiled-view .pages .add-info-inner .error {
  border: 1px solid red;
}
.compiled-view .pages .add-info-inner input {
  display: block;
  border: 1px solid #f0f0f0;
  height: 35px;
  width: 100%;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 20px #febcb2;
     -moz-box-shadow: 2px 2px 20px #febcb2;
          box-shadow: 2px 2px 20px #febcb2;
  margin-bottom: 25px;
}
.compiled-view .pages .add-info-inner input:after {
  display: block;
  right: 20px;
  width: 10px;
  height: 10px;
  content: 'adsad';
}
.compiled-view .pages .add-info-inner ::-webkit-input-placeholder {
  color: #d2d2d2;
}
.compiled-view .pages .button {
  width: 100%;
  height: 30px;
  background-color: #ffffff;
  color: #fd583f;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 0;
  -webkit-box-shadow: 1px 1px 25px #fd583f;
     -moz-box-shadow: 1px 1px 25px #fd583f;
          box-shadow: 1px 1px 25px #fd583f;
}
.compiled-view .pages .button:hover {
  background-color: #fd583f;
  color: #ffffff;
}
.compiled-view .pages .button:active {
  -webkit-box-shadow: 3px 3px 14px #163c80;
     -moz-box-shadow: 3px 3px 14px #163c80;
          box-shadow: 3px 3px 14px #163c80;
}
.compiled-view .pages .group-members,
.compiled-view .pages .user-groups {
  position: relative;
}
.compiled-view .header-tag {
  color: white;
  background-color: #fd583f;
  font-size: 20px;
  margin-bottom: 30px;
  height: 60px;
  padding: 17px;
}
.compiled-view #addgroup-page {
  text-align: center;
}
.compiled-view #addgroup-page .header {
  margin-bottom: 60px;
}
.compiled-view #adduser-page {
  text-align: center;
}
.compiled-view #adduser-page .header .user-img-btn {
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 0;
  background: white;
  border: 1px solid #d2d2d2;
  color: #d2d2d2;
}
.compiled-view #adduser-page .user-info-inner {
  position: relative;
  display: inline-block;
  text-align: left;
  margin-bottom: 60px;
}
.compiled-view #adduser-page .user-groups {
  margin-bottom: 20px;
}
.compiled-view #main-page {
  font-size: 25px;
  padding: 25px;
  font-family: Papyrus;
  height: 215px;
  background-color: #ffffff;
  color: #fd583f;
  text-align: center;
  margin: 0;
}
.compiled-view #main-page a {
  cursor: pointer;
  color: #163c80;
}
.compiled-view .choices {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #fd583f;
  display: none;
  overflow: scroll;
  list-style: none;
  text-align: center;
  z-index: 100;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  -webkit-transition: all 1s;
     -moz-transition: all 1s;
       -o-transition: all 1s;
          transition: all 1s;
}
.compiled-view .choices li {
  height: 35px;
  padding: 7px;
  margin-bottom: 2.5px;
  border-bottom: 1px solid #e34f38;
  width: 95%;
  display: inline-block;
  color: #b13d2c;
  cursor: pointer;
}
.compiled-view .choices li:hover {
  background: #e34f38;
  color: #973425;
}
.compiled-view #user-page .choices-wrapper:hover ul,
.compiled-view #group-page .choices-wrapper:hover ul,
.compiled-view #adduser-page .choices-wrapper:hover ul,
.compiled-view #addgroup-page .choices-wrapper:hover ul,
.compiled-view #user-page .choices-wrapper:focus ul,
.compiled-view #group-page .choices-wrapper:focus ul,
.compiled-view #adduser-page .choices-wrapper:focus ul,
.compiled-view #addgroup-page .choices-wrapper:focus ul {
  display: block;
  height: 200px;
}
.compiled-view #user-page,
.compiled-view #group-page,
.compiled-view #search-page {
  height: 100%;
  background: #ffffff;
}
.compiled-view #user-page .inner-nav,
.compiled-view #group-page .inner-nav,
.compiled-view #search-page .inner-nav {
  height: 60px;
  background: #e34f38;
  cursor: pointer;
  color: #ffffff;
}
.compiled-view #user-page .inner-nav span,
.compiled-view #group-page .inner-nav span,
.compiled-view #search-page .inner-nav span {
  width: 50%;
}
.compiled-view #user-page .inner-nav span div,
.compiled-view #group-page .inner-nav span div,
.compiled-view #search-page .inner-nav span div {
  width: 100%;
}
.compiled-view #user-page .inner-nav .user-add-group,
.compiled-view #group-page .inner-nav .user-add-group,
.compiled-view #search-page .inner-nav .user-add-group,
.compiled-view #user-page .inner-nav .group-add-users,
.compiled-view #group-page .inner-nav .group-add-users,
.compiled-view #search-page .inner-nav .group-add-users {
  position: relative;
  -webkit-transition: all .3s;
     -moz-transition: all .3s;
       -o-transition: all .3s;
          transition: all .3s;
}
.compiled-view #user-page .inner-nav div,
.compiled-view #group-page .inner-nav div,
.compiled-view #search-page .inner-nav div {
  width: 50%;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding: 20px;
  -webkit-transition: all .3s;
     -moz-transition: all .3s;
       -o-transition: all .3s;
          transition: all .3s;
}
.compiled-view #user-page .inner-nav div:hover,
.compiled-view #group-page .inner-nav div:hover,
.compiled-view #search-page .inner-nav div:hover {
  background: #973425;
}
.compiled-view #user-page .user-belongs-list,
.compiled-view #group-page .user-belongs-list,
.compiled-view #search-page .user-belongs-list,
.compiled-view #user-page .group-members-list,
.compiled-view #group-page .group-members-list,
.compiled-view #search-page .group-members-list,
.compiled-view #user-page .search-list-items,
.compiled-view #group-page .search-list-items,
.compiled-view #search-page .search-list-items {
  width: 100%;
  height: -webkit-calc(100% - 60px);
  height: -moz-calc(100% - 60px);
  height: calc(100% - 60px);
  padding: 20px;
  overflow: scroll;
}
.compiled-view #user-page .user-belongs-list h3,
.compiled-view #group-page .user-belongs-list h3,
.compiled-view #search-page .user-belongs-list h3,
.compiled-view #user-page .group-members-list h3,
.compiled-view #group-page .group-members-list h3,
.compiled-view #search-page .group-members-list h3,
.compiled-view #user-page .search-list-items h3,
.compiled-view #group-page .search-list-items h3,
.compiled-view #search-page .search-list-items h3 {
  color: #78291d;
}
.compiled-view #user-page .user-belongs-listing,
.compiled-view #group-page .user-belongs-listing,
.compiled-view #search-page .user-belongs-listing,
.compiled-view #user-page .group-members-listing,
.compiled-view #group-page .group-members-listing,
.compiled-view #search-page .group-members-listing,
.compiled-view #user-page .search-list-items-listing,
.compiled-view #group-page .search-list-items-listing,
.compiled-view #search-page .search-list-items-listing {
  height: 40px;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 20px;
  color: #973425;
  padding-left: 10px;
  position: relative;
  cursor: pointer;
}
.compiled-view #user-page .user-belongs-listing:hover,
.compiled-view #group-page .user-belongs-listing:hover,
.compiled-view #search-page .user-belongs-listing:hover,
.compiled-view #user-page .group-members-listing:hover,
.compiled-view #group-page .group-members-listing:hover,
.compiled-view #search-page .group-members-listing:hover,
.compiled-view #user-page .search-list-items-listing:hover,
.compiled-view #group-page .search-list-items-listing:hover,
.compiled-view #search-page .search-list-items-listing:hover {
  background-color: #e34f38;
}
.compiled-view #user-page .user-belongs-listing .remove-member,
.compiled-view #group-page .user-belongs-listing .remove-member,
.compiled-view #search-page .user-belongs-listing .remove-member,
.compiled-view #user-page .group-members-listing .remove-member,
.compiled-view #group-page .group-members-listing .remove-member,
.compiled-view #search-page .group-members-listing .remove-member,
.compiled-view #user-page .search-list-items-listing .remove-member,
.compiled-view #group-page .search-list-items-listing .remove-member,
.compiled-view #search-page .search-list-items-listing .remove-member,
.compiled-view #user-page .user-belongs-listing .nt-belong,
.compiled-view #group-page .user-belongs-listing .nt-belong,
.compiled-view #search-page .user-belongs-listing .nt-belong,
.compiled-view #user-page .group-members-listing .nt-belong,
.compiled-view #group-page .group-members-listing .nt-belong,
.compiled-view #search-page .group-members-listing .nt-belong,
.compiled-view #user-page .search-list-items-listing .nt-belong,
.compiled-view #group-page .search-list-items-listing .nt-belong,
.compiled-view #search-page .search-list-items-listing .nt-belong {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ffffff;
  -webkit-transition: color .3s;
     -moz-transition: color .3s;
       -o-transition: color .3s;
          transition: color .3s;
}
.compiled-view #user-page .user-belongs-listing .remove-member:hover,
.compiled-view #group-page .user-belongs-listing .remove-member:hover,
.compiled-view #search-page .user-belongs-listing .remove-member:hover,
.compiled-view #user-page .group-members-listing .remove-member:hover,
.compiled-view #group-page .group-members-listing .remove-member:hover,
.compiled-view #search-page .group-members-listing .remove-member:hover,
.compiled-view #user-page .search-list-items-listing .remove-member:hover,
.compiled-view #group-page .search-list-items-listing .remove-member:hover,
.compiled-view #search-page .search-list-items-listing .remove-member:hover,
.compiled-view #user-page .user-belongs-listing .nt-belong:hover,
.compiled-view #group-page .user-belongs-listing .nt-belong:hover,
.compiled-view #search-page .user-belongs-listing .nt-belong:hover,
.compiled-view #user-page .group-members-listing .nt-belong:hover,
.compiled-view #group-page .group-members-listing .nt-belong:hover,
.compiled-view #search-page .group-members-listing .nt-belong:hover,
.compiled-view #user-page .search-list-items-listing .nt-belong:hover,
.compiled-view #group-page .search-list-items-listing .nt-belong:hover,
.compiled-view #search-page .search-list-items-listing .nt-belong:hover {
  color: #973425;
}
.compiled-view #user-page .user-belongs-listing .user-belongs-listing-name,
.compiled-view #group-page .user-belongs-listing .user-belongs-listing-name,
.compiled-view #search-page .user-belongs-listing .user-belongs-listing-name {
  text-align: left;
}
.compiled-view #user-page .group-members-listing .group-listing-name,
.compiled-view #group-page .group-members-listing .group-listing-name,
.compiled-view #search-page .group-members-listing .group-listing-name,
.compiled-view #user-page .group-members-listing .group-listing-email,
.compiled-view #group-page .group-members-listing .group-listing-email,
.compiled-view #search-page .group-members-listing .group-listing-email {
  text-align: left;
}
.compiled-view #user-page .group-members-listing .group-listing-email,
.compiled-view #group-page .group-members-listing .group-listing-email,
.compiled-view #search-page .group-members-listing .group-listing-email {
  display: none;
}
.compiled-view #user-page .group-members-listing .group-listing-name,
.compiled-view #group-page .group-members-listing .group-listing-name,
.compiled-view #search-page .group-members-listing .group-listing-name {
  padding-left: 20px;
}
.compiled-view #user-page .group-members-listing a,
.compiled-view #group-page .group-members-listing a,
.compiled-view #search-page .group-members-listing a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
}
.compiled-view #user-page .group-members-listing a div,
.compiled-view #group-page .group-members-listing a div,
.compiled-view #search-page .group-members-listing a div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
.compiled-view #search-page .inner-nav {
  display: none;
}
@media only screen and (min-width: 769px) {
  .compiled-view {
    padding: 130px 50px 50px;
    width: -webkit-calc(100% - 250px);
    width: -moz-calc(100% - 250px);
    width: calc(100% - 250px);
  }
  .compiled-view .user-belongs-list,
  .compiled-view .group-members-list,
  .compiled-view .search-list-items {
    padding: 50px;
  }
  .compiled-view .add-info-inner {
    width: auto;
  }
  .compiled-view .add-info-inner input {
    width: 300px;
  }
  .compiled-view #group-page .group-members-listing .group-listing-email {
    display: inherit;
  }
  .compiled-view #main-page {
    margin: 30px;
  }
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
figure {
  display: block;
  margin: 1em 40px;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls] ) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ffff00;
  color: #000000;
}
small {
  font-size: 80%;
}
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
  font-family: monospace, monospace;
  font-size: 1em;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button {
  color: inherit;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}
input {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
}
optgroup {
  color: inherit;
  font: inherit;
  margin: 0;
  font-weight: bold;
}
select {
  color: inherit;
  font: inherit;
  margin: 0;
  text-transform: none;
}
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  overflow: auto;
}
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"] ::-webkit-inner-spin-button,
input[type="number"] ::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"] ::-webkit-search-cancel-button,
input[type="search"] ::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/****** Navbar *****/
.sidebar {
  display: none;
  background-color: #fd583f;
  color: white;
  margin: 0;
  overflow: hidden;
  width: 250px;
  opacity: 1;
  position: absolute;
  z-index: 99999999999;
  height: 100vh;
}
.sidebar button {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  right: 10px;
  top: 5px;
  color: #fd583f;
}
.sidebar .groupify {
  margin: 25px 0 40px 0;
  padding: 0px 25px;
  height: 33px;
}
.sidebar .groupify:hover {
  background-color: #b13d2c;
  cursor: pointer;
}
.sidebar .header {
  border-bottom: 1px solid #ffffff;
  margin: 0 25px 10px 25px;
}
.sidebar .header a {
  cursor: pointer;
}
.sidebar .header .adder {
  float: right;
  margin-bottom: 3px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  -webkit-transition: all .3s;
     -moz-transition: all .3s;
       -o-transition: all .3s;
          transition: all .3s;
  position: relative;
  bottom: 5px;
}
.sidebar .header .adder:hover {
  border: 1px solid white;
}
.sidebar .groups,
.sidebar .users {
  margin: 5px 25px;
  overflow: scroll;
}
.sidebar .groups .group-list,
.sidebar .users .group-list,
.sidebar .groups .user-list,
.sidebar .users .user-list {
  overflow: scroll;
  margin: 10px 0 0 0;
}
.sidebar .groups .group-list a,
.sidebar .users .group-list a,
.sidebar .groups .user-list a,
.sidebar .users .user-list a {
  cursor: pointer;
}
.sidebar .groups .group-list a,
.sidebar .users .group-list a {
  display: block;
  margin: 5px 0 15px 5px;
  color: #973425;
  -webkit-transition: color .3s;
     -moz-transition: color .3s;
       -o-transition: color .3s;
          transition: color .3s;
}
.sidebar .groups .group-list a:hover,
.sidebar .users .group-list a:hover {
  color: #ffffff;
}
.sidebar .groups .user-list a,
.sidebar .users .user-list a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
}
.sidebar .groups .user-list a div,
.sidebar .users .user-list a div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #973425;
}
.sidebar .groups .user-list a div:hover,
.sidebar .users .user-list a div:hover {
  border: 1px solid #ffffff;
}
.sidebar .groups {
  margin-bottom: 20px;
  height: 250px;
}
.sidebar .users {
  margin-bottom: 70px;
  height: 300px;
}
.sidebar footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #e34f38;
  color: #973425;
  height: 50px;
  padding: 14px;
  z-index: 999;
}
.sidebar footer a {
  color: #652319;
  text-decoration: underline;
}
nav {
  padding: 22px;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 99;
  text-align: center;
}
nav button {
  display: initial;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #fd583f;
  vertical-align: middle;
  margin-right: 20px;
}
nav div {
  height: 35px;
  width: 70%;
  display: inline-block;
  border: 1px solid #d2d2d2;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}
nav div:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background: url("../images/search.png") no-repeat;
}
nav div input {
  height: 100%;
  border: none;
  width: 70%;
  color: #163c80;
}
nav div input:focus {
  outline: 0;
}
.rapper {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
     -moz-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  min-height: 100vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (min-width: 769px) {
  .sidebar {
    position: relative;
  }
  .sidebar .groupify {
    padding: 8px 25px;
  }
  .sidebar button {
    display: none;
  }
  nav {
    width: -webkit-calc(100% - 250px);
    width: -moz-calc(100% - 250px);
    width: calc(100% - 250px);
  }
  nav button {
    display: none;
  }
  nav div {
    width: 50%;
  }
  nav div button {
    display: none;
  }
  nav div input {
    width: 80%;
  }
}
.hide {
  /* this is just another form of hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
